:root {
  --blue: #40458654;
  --black: #020e26;
  --white: #f3f4f6f1;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background-color: var(--black);
}

.btn {
  font-size: 1rem;
  font-family: inherit;
  font-weight: 500;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  box-shadow: 0 0 5px var(--white);
  transform: scale(1.01);
}

.btn-primary{
  background-color: #287f1e;
}

.btn-cancel{
  background-color: #9a2525;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: -1;
  overflow: auto;
  transition: 0.25s;
  }

.modal.show {
  background-color: rgba(0,0,0,06);
  z-index: 2;
}

.modal .modal-content{
  background-color: #40458654;
  width: 512px;
  padding: 24px;
  margin: 0.8px;
  border-radius: 16px;
  opacity: 0;
  z-index: -1;
  transition: 0.4s;
  border: 2px solid var(--blue);
  box-shadow: 0 0 13px var(--white)
}

.modal.show .modal-content{
  opacity: 1;
}

.modal-header{
  display: flex;
  justify-content: space-between;
  padding-left: 25%;
  color:var(--white);
  font-weight: 500;
}

.title{
  color: var(--white) ;
}
.modal-close{
  cursor: pointer;
}

.modal-body{  
  font-size: 14px;
  padding: 22px 20px;
}

.form-control{
  display: flex;
  flex-direction: column;
}

label {
  color: var(--white);
  padding-top: 8px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 8px;
}